@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 34, 34, 34;
    --color-text-muted: 119, 119, 119;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 68, 68, 68;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 244, 244, 244;
    --color-button-muted: 153, 153, 153;
  }
  .theme-primary {
    --color-text-base: 171, 193, 35;
    --color-fill: 0, 79, 77;
  }
}
